html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#conteiner{
    margin: 50px auto;
    width: 70%;
    height: 450px;
    border-bottom: 10px solid #7db26a;
    position: relative;
    overflow: hidden;
}
.pontos{
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
    font-weight: 800;
    color: #527544;
}
.juju{
    position: absolute;
    width: 100px;
    bottom: 50%;
    left: 30%;
}
.src{
    position: relative;
    width: 100%;
    height: 100%;
}
.jorel{
    position: absolute;
    width: 100px;
    margin: 0;
    bottom: 0;
}
.abacate{
    position: absolute;
    bottom: -25px;
    width: 80px;
    animation: abacate 2s infinite linear;
}
.background{
    width: 100%;
    height: 100%;
}
.pulo{       
    animation: jorel 500ms ease-out;
}
@keyframes abacate {
    to{
        right: 100%;
    }
    from{
        right: -90px;
    }
}
@keyframes jorel{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 150px;
    }
    70%{
        bottom: 150px;
    }
    100%{
        bottom: 0;
    }
}